Options -Indexes
<IfModule mod_rewrite.c>
    RewriteEngine on

    #RewriteCond %{HTTPS} off
    #RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

	RewriteCond $1 !^(robots\.txt|sitemap\.xml|public|$)
    RewriteRule ^(.*)$ index.php [L,QSA]


</IfModule>

